{% if x < y %}
Hi this is kranthi tesing if condition using templte module
{% elif x == y %}
both variable are euqual
{% else %}
This is kranthi 
{% endif %}



{% for each in z %}
this is a {{each}} time {{port_in}}
this is static line for display only 
{% endfor %}
 
